---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<head>
  	<title>Opaque Text Boxes</title>
 	  <link rel="stylesheet" type="text/css" href="styles.css">
		</head>
  <div class="container">
    <div class="text-box">
      <h2>Text Box 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="text-box">
      <h2>Text Box 2</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="text-box">
      <h2>Text Box 3</h2>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
	</body>
</html>
